# ==================
# Python
# ==================
__pycache__/
*.ipynb

# ==================
# Environment
# ==================
.venv/
.env

# ==================
# Deep Learning
# ==================
*.pth
*.json