# ==================
# Python
# ==================
__pycache__/
*.ipynb

# ==================
# Environment
# ==================
.venv/
.env

# ==================
# Data & Artifacts
# ==================
data/
artifacts/
model/